{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Total</th>
                <th>Transaction type</th>
                <th>Date</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction["symbol"].upper() }}</td>
                    <td>{{ transaction["shares"] }}</td>
                    <td>{{ transaction.price | usd }}</td>
                    <td>{{ (transaction["price"] * transaction["shares"]) | usd }}</td>
                    <td>{{ transaction["type"].upper() }}</td>
                    <td>{{ transaction["time"].split()[0] }}</td>
                    <td>{{ transaction["time"].split()[1] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock%}
